body {
  font-family: 'Open Sans', sans-serif;
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}
.row {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
canvas {
  border: 1px solid #eee;
  display: block;
}
.canvas-container {
  position: relative;
  display: inline-block;
}
.canvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}
