@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.red {
  color: #e92528;
}

p,
li {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
}

#logo-text {
  font-weight: 300;
}

.small {
  font-size: 1.7rem;
}

.center-horizontal {
  display: block;
  margin: 0 auto;
}

.center-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.left {
  text-align: left;
}

.col-10 {
  width: 10%;
}

.col-20 {
  width: 20%;
}
.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}
.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.col-80 {
  width: 80%;
}
.col-90 {
  width: 90%;
}
.col-100 {
  width: 100%;
}

section .row:before,
section .row:after {
  content: "";
  display: table;
  clear: both;
}

section .row {
  margin: 0em 0em;
}

section .row *[class*="col-"] {
  box-sizing: border-box;
  position: relative;
  left: 0;
  float: left;
  min-height: 1px;
  padding: 0em 0.15em;
}

section .row.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the child elements horizontally */
}

small > a > p {
  text-decoration: underline;
  font-size: 2.3rem;
  line-height: 2rem;
}

code.small {
  font-weight: 900;
}
